<html>
  <head><title>Add</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  </head>

    <body>
  <div class="container">
    <div class ="jumbotron">
      <form method="post" ng-submit="send_data()">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="id" ng-model="form_data.id">
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="first Name">
                <label class="form-check-label" for="inlineRadio1">First Name</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Last Name">
                <label class="form-check-label" for="inlineRadio2">Last Name</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Phone Number">
                <label class="form-check-label" for="inlineRadio2">Phone Number</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="New Value" ng-model="form_data.updated_value">
              </div>
            </div>
            <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
    </body>
</html>
